<!-- Page Header -->
    <center>
        <h3>Quick Search</h3>
    </center>

    <!-- Form -->
    <form>
        <!-- Title -->
        <div class="row">
            <div class="col"></div>
            <div class="form-group col-10">
                <label for="anime-title">Title</label>
                <input type="text" class="form-control" id="anime-title" placeholder="Title of the anime (e.g. 'Naruto')">
            </div>
            <div class="col"></div>
        </div>
        <!-- Submit -->
        <div class="row">
            <div class="col"></div>
            <div class="col-10">
                <input type="submit" class="btn btn-primary form-control" id="submit-btn" />
            </div>
            <div class="col"></div>
        </div>
    </form>