<!-- Form -->
<form>
    <!-- Title -->
    <div class="row">
        <div class="col"></div>
        <div class="form-group col-10">
            <label for="anime-title">Title</label>
            <input type="text" class="form-control" id="anime-title" placeholder="Title of the anime (e.g. 'Naruto')">
        </div>
        <div class="col"></div>
    </div>
    <!-- Studio -->
    <div class="row">
        <div class="col"></div>
        <div class="form-group col-10">
            <label for="studio-name">Studio</label>
            <input type="text" class="form-control" id="studio-name" placeholder="Name of the studio (e.g. 'Studio Pierrot')">
        </div>
        <div class="col"></div>
    </div>
    <!-- Type -->
    <div class="row">
        <div class="col"></div>
        <div class="form-group col-10">
            <label for="type">Type</label>
            <select class="form-control" id="type">
                <option>-</option>
                <option value="TV"> TV </option>
                <option value="Movie"> Movie </option>
                <option value="OVA"> OVA </option>
            </select>
        </div>
        <div class="col"></div>
    </div>
    <!-- Genre -->
    <div class="row">
        <div class="col"></div>
        <div class="form-group col-10">
            <label for="genre">Genre</label>
            <div id="genre-dropdown">
                <select multiple class="form-control" id="genre">
                    <option value="1">Action</option>
                    <option value="2">Adventure</option>
                    <option value="3">Cars</option>
                    <option value="4">Comedy</option>
                    <option value="5">Dementia</option>
                </select>
            </div>
        </div>
        <div class="col"></div>
    </div>
    <!-- Submit -->
    <div class="row">
        <div class="col"></div>
        <div class="col-10">
            <input type="submit" class="btn btn-primary form-control" id="submit-btn" />
        </div>
        <div class="col"></div>
    </div>
</form>